In [16]:
import sqlite3
import os

# Path to store the database on Google Drive
db_path = "/content/drive/MyDrive/timetable-generator/db/timetable.db"
os.makedirs(os.path.dirname(db_path), exist_ok=True)

# Connect to SQLite database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Define table creation queries
create_courses_table = '''
CREATE TABLE IF NOT EXISTS courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT,
    instructor_id INTEGER
)'''

create_instructors_table = '''
CREATE TABLE IF NOT EXISTS instructors (
    instructor_id INTEGER PRIMARY KEY,
    instructor_name TEXT
)'''

create_timeslots_table = '''
CREATE TABLE IF NOT EXISTS timeslots (
    timeslot_id INTEGER PRIMARY KEY,
    timeslot TEXT
)'''

create_rooms_table = '''
CREATE TABLE IF NOT EXISTS rooms (
    room_id INTEGER PRIMARY KEY,
    room_name TEXT
)'''

# Execute table creation
cursor.execute(create_courses_table)
cursor.execute(create_instructors_table)
cursor.execute(create_timeslots_table)
cursor.execute(create_rooms_table)

conn.commit()
conn.close()

# Verify if the database file exists
if os.path.exists(db_path):
    print(f"Database created successfully at {db_path}")
else:
    print("Database file was not created!")

Database created successfully at /content/drive/MyDrive/timetable-generator/db/timetable.db

In [18]:
import sqlite3

def fetch_data_from_db():
    # Example: Fetching courses from the database
    conn = sqlite3.connect('/content/drive/MyDrive/timetable-generator/db/timetable.db')
    cursor = conn.cursor()

    # Fetch courses
    cursor.execute("SELECT * FROM courses")
    courses = cursor.fetchall()

    # Fetch instructors
    cursor.execute("SELECT * FROM instructors")
    instructors = cursor.fetchall()

    cursor.execute("SELECT * FROM time_slot")
    instructors = cursor.fetchall()
    conn.close()

    return courses, instructors

# Call the function to get the data
courses, instructors = fetch_data_from_db()

# Print the fetched data
print("Courses:", courses)
print("Instructors:", instructors)

Courses: [('Math 101',), ('Physics 201',), ('Chemistry 301',)]
Instructors: [('Dr. Smith',), ('Prof. Brown',), ('Dr. White',)]